---

---


<style>
    /* 页脚样式 */
  footer {
    display: grid;
    gap: 0px 0px; 
    background-color: transparent; /* 背景透明 */
    color: black;
    text-align: center;
    padding: 1rem;
    grid-area: footer;
    /* border: 3px red solid; */
    max-height: 200px;
  }
</style>

<footer>
    <p>© 2024 Rorschach Blog. 保留所有权利.</p>
</footer>